body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  }
  
  #container {
    position: relative;
    width: 80%;
  }
  
  #typewriter {
    white-space: pre-wrap;
    font-size: 20px;
    word-wrap: break-word;
  }
  
  #cursor {
    position: absolute;
    width: 5px;
    height: 24px;
    background-color: blue;
    border-radius: 10px;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  